[submodule "mods/skinsdb"]
	path = mods/skinsdb
	url = https://github.com/minetest-mods/skinsdb.git
	branch = master
[submodule "mods/castle"]
	path = mods/castle
	url = https://github.com/minetest-mods/castle.git
[submodule "mods/3d_armor"]
	path = mods/3d_armor
	url = https://github.com/stujones11/minetest-3d_armor.git
