[submodule "mods/skinsdb"]
	path = mods/skinsdb
	url = https://github.com/minetest-mods/skinsdb.git
	branch = master
[submodule "mods/castle"]
	path = mods/castle
	url = https://github.com/minetest-mods/castle.git
